.container {
  display: grid;
  margin: 0 5rem;
  grid-template-columns: 3fr 6fr 2fr;
  grid-template-rows: 4rem;
  grid-gap: 3rem 2rem;
  grid-template-areas: 
  "logo logo menu"
  "content content image"
  "footer footer footer"
}

.logo {
  grid-area: logo;
  align-self: center;
}

.main-menu {
  grid-area: menu;
  place-self: center end;
}

.image-container{
  grid-area: image;
  align-self: center;
}

.content-area {
  grid-area: content;
}

.footer {
  grid-area: footer;
}